<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- display flash: output value stored in flash object in the attribute `notice` -->
<p class="flash"><%= flash.notice %></p>


<!-- where view templates are injected --> 
<%= yield %>

</body>
</html>
